/* Code Block */
// theme
$code-dark-theme: "one-dark" !default;
$code-light-theme: "coldark-cold";
// code languages
$code-lang: "c" "cpp" "cs" "css" "dart" "docker" "fs" "go" "html" "java" "js"
  "json" "kt" "less" "makefile" "md" "php" "py" "rb" "rs" "sass" "scss" "sh"
  "ts" "vue" "yml" !default;