// you can change colors here
///$theme-color: #096dd9;

$font-family: "HarmonyOS Sans SC", "HarmonyOS Sans", 'Georgia, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$sidebar-width: 20rem;
$sidebar-mobile-width: 16rem;
$content-width: 60em;
$theme-color: #2980B9;

$navbar-height: 3.75rem !default;
$navbar-horizontal-padding: 0.1rem !default;
$navbar-vertical-padding: 0.1rem !default;
$navbar-mobile-height: 1.25rem !default;
$navbar-mobile-horizontal-padding: 0.2rem !default;
$navbar-mobile-vertical-padding: 0.2rem !default;